.collapse {
    justify-content: flex-end;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

#logo {
    border-radius: 16px;
}

#main-title {
    font-family: 'DM Serif Display';
    font-size: 2.5em;
    font-weight: 700;
    font-style: italic;
    margin: 0 0.5em;
}

.nav-item {
    font-weight: 500;
}