* {
    color: rgb(228, 236, 255);
}

html {
    min-height: 100%;
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
}

.body {
    background-image: linear-gradient(rgba(20, 26, 32, 0.94), rgba(12, 16, 22, 0.98)), url(Assets/main-background.jpg);
    background-position: center;
    /* background-size: auto 100%; */
    background-attachment: fixed;
    min-height: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.red {
    color: rgb(250, 80, 190);
}

.blue {
    color: rgb(100, 160, 250);
}

.green {
    color: rgb(100, 250, 220);
}

.underline {
    padding-bottom: 0.2em;
    border-bottom: 1px solid rgb(228, 236, 255);
    margin-bottom: 0.5em;
}

button {
    outline: none !important;
}

/* REGISTER STYLING */

#register {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* HEADER STYLING */

.collapse {
    justify-content: flex-end;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

#logo {
    border-radius: 16px;
    width: 80px;
    margin-right: 0.5em;
}

#main-title {
    font-family: 'DM Serif Display', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    font-style: italic;
    margin: 0 0.5em;
}

.nav-item {
    font-weight: 500;
    font-size: 1.1em;
}

.nav-link {
    color: rgb(228, 236, 255) !important;
}

.nav-text {
    transition: all 220ms ease-out;
    display: inline-block;
    position: relative;
    margin-right: 1em;
}

.nav-text::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    border-radius: 16%;
    bottom: 0;
    left: 0;
    background-color: rgb(228, 236, 255);
    transition: transform 220ms ease-out;
}

.nav-text:hover {
    display: inline-block;
    transform: scale(1.1);
}

.nav-text:hover::after {
    transform: scaleX(1);
}


/* LOGIN PAGE STYLING */

.main {
    padding: 1em 1em;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

.header {
    flex: 0 90px;
}

.footer {
    flex: 0 40px;
    padding-top: 1em;
}

.collab {
    color: rgb(100, 160, 250);
    font-style: italic;
    font-size: 1.3em;
}


.statement {
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
}

.main-login {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    min-height: 300px;
}

.login {
    display: flex;
    background-color: rgba(180, 215, 255, 0.1);
    padding: 2em;
    padding-bottom: 1em;
    margin: 0.5em 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px rgb(228, 236, 255) solid;
    border-radius: 24px;
}

.login h3 {
    color: rgb(160, 200, 250);
    margin-bottom: 1em;
}


input {
    border-radius: 12px;
    padding: 4px;
    background-color: rgb(230, 245, 255);
    margin-bottom: 1em;
    color: black;
}

label {
    margin-right: 4px;
}


.login-btn {
    color: black;
    background-color: rgb(230, 245, 255);
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.3em 0.5em;
}

.credits {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.credits p {
    color: rgb(228, 236, 255);
    font-size: 0.8em;
}

.credits p a {
    color: rgb(160, 200, 250);
}

.credit-dot {
    margin: 0 1em;
    font-size: 1em;
}

.signup-prompt {
    font-size: 12px;
    font-style: italic;
    margin-top: 1.2em;
}

.price {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 10px;
}

#stock-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock-section {
    background-color: rgba(228, 236, 255, 0.05);
    border: 1px rgb(228, 236, 255) solid;
    border-radius: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0em 1em;
}

.stock-section p {
    margin-top: 6px;
    margin-bottom: 6px;
}

/* PROFILE PAGE STYLING */

.main-display {
    display: flex;
    padding: 2em;
    border-radius: 12px;
    padding: 2em 4em;
    /* min-width: 50%; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(140, 180, 255, 0.15);
    border: 1px solid rgb(120, 150, 180);
    text-align: center;
}

.main-display section,
.main-display .goal-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-display {
    margin-bottom: 1em;
    padding: 1em;
    background-color: rgba(228, 236, 255, 0.05);
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.goal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.goal p {
    margin: 0.5em 1em;
    padding: 0;
    max-width: 200px;
    text-align: center;
    overflow-wrap: break-word;
}

.finish-goal {
    background-color: rgb(100, 250, 220);
    color: black;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.finish-goal:hover {
    background-color: rgb(160, 255, 230);
}

.finish-goal:active {
    background-color: rgb(0, 85, 16);
    color: rgb(228, 236, 255);
}

.bttn-default {
    background-color: rgb(100, 160, 250);
    padding: 0.15em 0.45em;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 0.3em;
}

.bttn-default:hover {
    background-color: rgb(120, 180, 255);
}

.bttn-default:active {
    background-color: rgb(20, 50, 100);
}

.bttn-delete {
    background-color: rgb(250, 80, 190);
    color: black;
}

.bttn-delete:hover {
    background-color: rgb(255, 120, 220);
}

.bttn-delete:active {
    background-color: rgb(180, 10, 80);
    color: rgb(228, 236, 255);
}

/* GOALS LIST STYLING */

#bttn-toggle {
    margin-bottom: 1em;
}


/* FRIENDS LIST STYLING  */


#friend-desc {
    max-width: 500px;
}

.main-friendlist {
    display: flex;
    align-items: flex-start;
}

.add-friend {
    display: flex;
    flex-direction: column;
    max-height: 200px;
}

.friendlist {
    margin-left: 1em;
}

.friend {
    padding: 0.5em 0;
    border-bottom: 1px solid rgb(228, 236, 255)
}

.friend p,
.friend button {
    margin-bottom: 0.5em;
}

.bttn-small {
    font-size: 12px;
}


/* GOAL CREATION STYLING */

.create-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goal-selection {
    margin-bottom: 0.2em;
}

.goal-deadline {
    margin-top: 0.5em;
    margin-bottom: 1em;
    border: none;
}

#daily {
    margin-right: 1em;
}

#goal-content {
    margin-bottom: 0.5em;
    border-radius: 12px;
    padding: 0.5em;
    color: black
}


/* POP UP SOCKET STYLING */

.pop-up {
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 100px;
    margin: center;
    border: 1px solid rgb(228, 236, 255);
    border-radius: 16px;
    background-color: rgba(20, 60, 100, 0.85);
    animation-name: popup-fade;
    animation-duration: 1s;
    transform: translate(-50%, 0);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* REACT STYLING */

div.container {
    max-width: 100% !important;
}

#nav-container {
    display: flex;
    justify-content: space-between !important;
}




@keyframes popup-fade {
    from {
        opacity: 0%;
    }

    to {
        opacity: 95%;
    }
}

.disappear {
    animation-name: vanish;
    animation-duration: 1s;
}

@keyframes vanish {
    from {}

    to {
        opacity: 0%;
    }
}



@media (max-width: 900px) and (min-width: 750px) {
    .login section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 750px) {
    .main-login {
        flex-direction: column;
    }

    .credits {
        flex-direction: column;
    }

    .credit-dot {
        display: none;
    }

    .main-friendlist {
        flex-direction: column;
        align-items: center;
    }

    .friendlist {
        margin-left: 0;
    }
}

@media (max-width: 320px) {

    html {
        transform: scale(0.92);
    }

    .main-login,
    #main-title,
    #logo {
        transform: scale(0.8);
    }
}

@media (min-width: 1000px) {
    .main-profile {
        transform: scale(1.2) translateY(12%);

    }
}